#app {
  width: 100vw;
  height: 100vh;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1110px;
  height: 518px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.item {
  width: 255px;
  position: relative;
}

.item:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
}

.icon {
  position: absolute;
  top: -7px;
  right: 10px;
  clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0 100%);
}

.item:nth-child(5) .icon {
  top: -5px;
}

.item:nth-child(6) .icon {
  clip-path: none;
  top: 0;
}

.item:nth-child(7) .icon {
  top: -6px;
}
