#app {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
}

.container-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-container {
  position: relative;
  margin: 0.75rem;
}
