#app {
  width: 100vw;
  height: 100vh;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1110px;
  height: 518px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.item {
  width: 255px;
  position: relative;
}

.item:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
}

.icon {
  position: absolute;
  top: -7px;
  right: 10px;
  clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0 100%);
}

.item:nth-child(5) .icon {
  top: -5px;
}

.item:nth-child(6) .icon {
  clip-path: none;
  top: 0;
}

.item:nth-child(7) .icon {
  top: -6px;
}

.profile-container {
  height: 100%;
  position: absolute;
  top: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.profile-info {
  margin-top: -3rem;
}

.profile-container img {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  border: white solid 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-container p {
  color: #bbc0ff;
  font-size: 15px;
}

.profile-container h4 {
  color: white;
  font-size: 40px;
  font-weight: 300;
}

.time-frame-container {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.time-frame-container p {
  font-size: 18px;
  color: #7078c9;
  transition: 0.2s;
}

.time-frame-container p:hover {
  color: white;
  cursor: pointer;
}

.time-frame-container .active {
  color: white;
}

.info-container {
  height: 100%;
  position: absolute;
  top: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}
