@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --blue: hsl(246, 80%, 60%);
  --light-red-orange: hsl(15, 100%, 70%); /*  (work) */
  --soft-blue: hsl(195, 74%, 62%); /*  (play) */
  --light-red: hsl(348, 100%, 68%); /*  (study) */
  --lime-green: hsl(145, 58%, 55%); /*  (exercise) */
  --violet: hsl(264, 64%, 52%); /*  (social) */
  --soft-orange: hsl(43, 84%, 65%); /*  (self care) */
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
}
